<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Espace Membre</h1>
                    <h5>Enrégistrez vous gratuitement !</h5>

                </div>
                <form>
                    <div class="mb-3">
                      <label for="exampleInputName" class="form-label">Username</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>

                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">first_name</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                    </div>
                    
                    <div class="mb-3">
                    <label for="exampleInputName" class="form-label">last_name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                    </div>

                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">admin_role</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Inscription</button>
                  </form>
                  <a routerLink = "/login">Déja mebre ? Cliquez pour vous connecter  </a>
            </div>
        </div>
    </div>
</div>
