/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|nunito:400,700");


$turquoise:#44ddd0;
$green : #27d7a1;
$light-green: #45f69e;
$dark-light : rgb(0,100,80);

$light : #f8f8f8;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$link :$turquoise;


